{% extends 'base.html.twig' %}

{% block title %}Painting: {{ painting.title }}{% endblock %}

{% block main %}
    <h1 class="mb-4">Fiche du tableau: {{ painting.title }}</h1>

    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <th scope="row">Id</th>
                <td>{{ painting.id }}</td>
            </tr>
            <tr>
                <th scope="row">Titre</th>
                <td>{{ painting.title }}</td>
            </tr>
            <tr>
                <th scope="row">Artiste</th>
                <td>{{ painting.artist }}</td>
            </tr>
            <tr>
                <th scope="row">Année de Création</th>
                <td>{{ painting.creationYear }}</td>
            </tr>
            <tr>
                <th scope="row">Description</th>
                <td>{{ painting.description }}</td>
            </tr>
            <tr>
                <th scope="row">Style</th>
                <td>{{ painting.style }}</td>
            </tr>
            <tr>
                <th scope="row">Image</th>
                <td>
                    {% if painting.imageName %}
                        <img src="{{ vich_uploader_asset(painting, 'imageFile') }}" alt="{{ painting.title }}" class="img-fluid" style="max-width: 300px;">
                    {% else %}
                        <span class="text-muted">Pas d'image disponible</span>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <div class="mt-4">
        <a href="{{ path('app_painting_index') }}" class="btn btn-primary">Retour à la liste</a>
        <a href="{{ path('app_painting_edit', {'id': painting.id}) }}" class="btn btn-warning">Modifier</a>
        {{ include('painting/_delete_form.html.twig') }}
    </div>
{% endblock %}
