{# templates/my_painting_collection/show.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Collection de Peintures: {{ collection.name }}{% endblock %}

{% block main %}
    <h1>Collection: {{ collection.name }}</h1>

    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <th scope="row">Id</th>
                <td>{{ collection.id }}</td>
            </tr>
            <tr>
                <th scope="row">Nom</th>
                <td>{{ collection.name }}</td>
            </tr>
            <tr>
                <th scope="row">Description</th>
                <td>{{ collection.description }}</td>
            </tr>
        </tbody>
    </table>

    <h2 class="mt-4">Peintures dans cette collection</h2>
    <ul class="list-group">
        {% for painting in collection.paintings %}
            <li class="list-group-item">
                <a href="{{ path('painting_show', {'id': painting.id}) }}" class="text-decoration-none">
                    {{ painting.title }} par {{ painting.artist }}
                </a>
            </li>
        {% else %}
            <li class="list-group-item text-muted">Aucune peinture n'est disponible dans cette collection.</li>
        {% endfor %}
    </ul>

    <a href="{{ path('collection_list') }}" class="btn btn-secondary mt-4">Retour à la liste des collections</a>
{% endblock %}

