
{% extends 'base.html.twig' %}

{% block title %}Painting: {{ painting.title }}{% endblock %}

{% block main %}
    <h1>Fiche du tableau: {{ painting.title }}</h1>

    {# Affichage des informations détaillées du tableau de peinture #}
    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <th scope="row">Id</th>
                <td>{{ painting.id }}</td>
            </tr>
            <tr>
                <th scope="row">Titre</th>
                <td>{{ painting.title }}</td>
            </tr>
            <tr>
                <th scope="row">Artiste</th>
                <td>{{ painting.artist }}</td>
            </tr>
            <tr>
                <th scope="row">Année de Création</th>
                <td>{{ painting.creationYear }}</td>
            </tr>
            <tr>
                <th scope="row">Description</th>
                <td>{{ painting.description }}</td>
            </tr>
            <tr>
                <th scope="row">Style</th>
                <td>{{ painting.style }}</td>
            </tr>
            <tr>
                <th scope="row">Collection</th>
                <td>
                    <a href="{{ path('app_gallery_show', { 'id': gallery.id }) }}" class="text-decoration-none">Retour à la galerie</a>
                    
                </td>
            </tr>
        </tbody>
    </table>
{#
<a href="{{ path('collection_list') }}" class="btn btn-secondary mt-4">Retour à la liste des collections</a>
#}
{% endblock %}